<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button (click)="test()">MoviePosters</ion-button>
<ion-button (click)="test1()">test1</ion-button>
<ion-button (click)="test2()">init History</ion-button>
<ion-button (click)="test3()">test3</ion-button>
<ion-button (click)="test4()">img</ion-button>
<ion-button (click)="test5()">initFavs</ion-button>
  <img id="img" src="">
</ion-content>
