<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{constantsService.constants.HISTORY_HEADER}}
        </ion-title>
    </ion-toolbar>
    <ion-fab #fab vertical="top" horizontal="end" edge=true>
        <ion-fab-button class="fab-main-button" (click)="openFilter()">
            <ion-icon name="color-filter"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-header>
<div class="filter-section" *ngIf="filter_enabled">
    <ion-button expand="block" (click)="setDate('week')">{{constantsService.constants.HISTORY_FILTER_WEEK}}</ion-button>
    <ion-button expand="block" (click)="setDate('month')">{{constantsService.constants.HISTORY_FILTER_MONTH}}</ion-button>
    <ion-button expand="block" (click)="setDate('year')">{{constantsService.constants.HISTORY_FILTER_YEAR}}</ion-button>

    <ion-grid class="filter-grid">
        <ion-row class="filter-row">
            <ion-col size="4" class="col-text" align-self-center>
                {{constantsService.constants.HISTORY_FILTER_FROM}}:
            </ion-col>
            <ion-col size="8" align-self-center>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MMMM/YYYY" [min]="min" [max]="max"
                              [value]="to_year_select"
                              [(ngModel)]="to_year_select"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row class="filter-row">
            <ion-col size="4" class="col-text" align-self-center>
                {{constantsService.constants.HISTORY_FILTER_TO}}:
            </ion-col>
            <ion-col size="8" align-self-center>
                <ion-datetime id="test" displayFormat="DD/MM/YYYY" pickerFormat="DD/MMMM/YYYY" [min]="min" [max]="max"
                              [value]="from_year_select"
                              [(ngModel)]="from_year_select"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="filter-select-button">
                <ion-button expand="block" (click)="setDate('selected')" size="small">Filter!</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-content padding (click)="filter_enabled? openFilter():''">
    <div [class]="!filter_enabled? 'light': 'dark'">
        <ion-card *ngFor="let element of movieHistoryArray; trackBy: trackById" class="outer-class">
            <ion-list #slidingList>
                <ion-item-sliding>
                    <ion-item>
                        <ion-card-header>
                            <ion-card-title tappable
                                            (click)="!filter_enabled?openSelectedHistory(element.timestamp, element.result.result):''">
                                <div class="date">
                                    <ion-icon name="calendar"></ion-icon>
                                    {{element.timestamp| date:'dd. MMMM yyyy'}}
                                </div>
                                <div class="time">
                                    <ion-icon name="time"></ion-icon>
                                    &nbsp;{{element.timestamp| date:'HH:mm:ss'}}
                                </div>
                                <ion-icon
                                        [name]="close_map[element.timestamp] ? 'ios-arrow-down' : 'ios-arrow-up'"></ion-icon>
                            </ion-card-title>
                        </ion-card-header>
                    </ion-item>
                    <ion-item-options>
                        <ion-item-option color="danger" (click)="deleteHistoryEntry(element)">
                            <ion-icon name="trash"></ion-icon>
                            {{constantsService.constants.BTN_DELETE}}
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-card-content *ngIf="!close_map[element.timestamp]">
                <div class="small-header">{{constantsService.constants.HISTORY_REQUEST}}</div>
                <ion-grid>
                    <ion-row *ngIf="element.request.data.movies.length > 0">
                        <ion-col size="4" class="col-header">{{constantsService.constants.HISTORY_MOVIE}}:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let movie of element.request.data.movies, let i = index"
                               class="{{movie.alignment}}">{{movie.title}}
                                <a *ngIf="i !== element.request.data.movies.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.actors.length > 0">
                        <ion-col size="4" class="col-header">  {{constantsService.constants.HISTORY_ACTOR}}:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let actor of element.request.data.actors, let i = index"
                               class="{{actor.alignment}}">{{actor.firstname}}&nbsp;{{actor.lastname}}
                                <a *ngIf="i !== element.request.data.actors.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.genres.length > 0">
                        <ion-col size="4" class="col-header">{{constantsService.constants.HISTORY_GENRE}}:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let genre of element.request.data.genres, let i = index"
                               class="{{genre.alignment}}">{{genre.name}}
                                <a *ngIf="i !== element.request.data.genres.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.keywords.length > 0">
                        <ion-col size="4" class="col-header">{{constantsService.constants.HISTORY_KEYWORD}}:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let keyword of element.request.data.keywords, let i = index"
                               class="{{keyword.alignment}}">{{keyword.name}}
                                <a *ngIf="i !== element.request.data.keywords.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.timeperiod.length > 0">
                        <ion-col size="4" class="col-header">{{constantsService.constants.HISTORY_YEAR}}:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let year of element.request.data.timeperiod, let i = index"
                               class="{{year.alignment}}">{{year.from}} - {{year.to}}
                                <a *ngIf="i !== element.request.data.timeperiod.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4" class="col-header">{{constantsService.constants.HISTORY_NUMBER_OF_RESULT}}:</ion-col>
                        <ion-col size="6">
                            {{element.request.length}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
            <ion-card-content class="result-content" *ngIf="!close_map[element.timestamp]">
                <div class="small-header">{{constantsService.constants.HISTORY_RECOMMENDATION}}</div>
                <ion-slides id="slides" pager="false" [options]="slideOpts">
                    <ion-slide *ngFor="let elem of element.result.result">
                        <ion-card class="slide-card">
                            <ion-card-content>
                                <img class="poster" src="{{elem.image}}">
                                <ion-label class="title">{{elem.title}}</ion-label>
                                <h3>{{elem.year}}</h3>
                                    <ion-grid class="slider-grid">
                                        <ion-row>
                                            <ion-col size="4" >
                                                <ion-icon class="favourite" [name]="elem.favourite ? 'heart' : 'heart-empty'"></ion-icon>
                                            </ion-col>
                                            <ion-col size="4">
                                                <div class="rating-info">{{elem.rating}}</div>
                                                <ion-icon [class]="elem.rating > 0 || elem.rating != undefined? 'rating active':'rating inactive'" name="star"></ion-icon>
                                            </ion-col >
                                            <ion-col size="4">
                                                <img class="vote" [src]="elem.vote != undefined || elem.vote > 0?'../../assets/image/rating/'+elem.vote+'_full.svg': '../../assets/image/rating/inactive.svg'">
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-card-content>
            <ion-card-content *ngIf="!close_map[element.timestamp]">
                <div>
                    <ion-button expand="full" class="show-btn left" (click)="repeatRequest(element.request)">Show <br>
                        Request
                    </ion-button>
                    <ion-button expand="full" class="show-btn right" (click)="showRecommendation(element.result)"
                                [disabled]="element.result.result.length == 0">Show <br> Recommendation
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>
        <div [class]="!disableShowMore?'entry-text button-displayed':'entry-text'">Displayed entries:
            {{show_entries_size}} of {{total_history_entries}}
        </div>
    </div>
    <ion-footer>
        <ion-button *ngIf="!disableShowMore" [disabled]="filter_enabled" expand="full" (click)="showMore()"
                    class="show-more-btn">{{constantsService.constants.BTN_SHOW_MORE}}
        </ion-button>
    </ion-footer>
</ion-content>