<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            History
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card class="outer-class">
        <ion-card-header>
            <ion-card-title>Tuesday 05/01/2018
                <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="true">
            <div class="small-header">Request</div>
            <ion-grid>
                <ion-row>
                    <ion-col size="4" class="col-header">Movie:</ion-col>
                    <ion-col size="8">
                        <a class="positive">The Dark Night Rises</a>, The Dark Night Rises, The Dark Night Rises The Dark Night Rises, The Dark Night Rises, The Dark Night Rises
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="col-header">Actor:</ion-col>
                    <ion-col size="8">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="col-header">Genre:</ion-col>
                    <ion-col size="8">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="col-header">Keyword:</ion-col>
                    <ion-col size="8">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" class="col-header">Year:</ion-col>
                    <ion-col size="8">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
        <ion-card-content *ngIf="true">
            <div class="small-header">Recommendation</div>
            <ion-slides id="slides" pager="false" [options]="slideOpts">
                <ion-slide>
                    <ion-card class="inner-card">
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="3">
                                        <ion-avatar>
                                            <img src="../../assets/image/img2.jpg">
                                        </ion-avatar>
                                    </ion-col>
                                    <ion-col size="9">
                                        The Dark Night Rises
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
</ion-content>
