ion-content {
  background-image: url("../../assets/image/background.png");
  background-size: cover;
  --padding-top:0;
  --padding-start:0;
  --padding-end: 0;
  --padding-bottom: 0;
}

ion-card {
  margin: 5px;
}

ion-img {
  //height: 6em;
}

ion-card-content {
  padding: 0;
  margin: 0;
  height: 100%;
}

ion-card-header {
  padding: 0.7em 1em 0.7em 1em;
}
ion-card-title > ion-icon {
  float: right;
  font-size: 2em;
  position: absolute;
  top: 0.1em;
  right: 0em;
}
ion-card-title {
  font-size:1.3em;
}
.inner-card {
  // width: 5em;
  background-color: var(--ion-color-primary-contrast);
}

.inner-card > ion-card-content {
  padding: 0;
  //font-size: 1em;
  //width: 18em;
  background-color: var(--ion-background-color-card)
  //background-color: var(--ion-color-dark);
}

.outer-class{
  background-color: var(--ion-color-primary-contrast-test);
  border-radius: 10px;
  margin-bottom:0;
}
.light {
  opacity: 1;
  visibility: visible;
  padding: 16px;
}
.dark {
  opacity: 0.3;
  visibility: visible;
  padding: 16px;
}

ion-avatar {
  --border-radius: 0;
  width: 4em;
  height: 4em;
}
.small-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}
.col-header {
  font-weight: bold;
}
.positive {
  color: var(--ion-color-positive);
}
.negative {
  color: var(--ion-color-negative);
}
.date {
  font-size: 1em;
  font-weight: bold;
}
.time {
  font-size: 0.8em;
}
.repeat-request{
 // float: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

.filter-grid {
  border-radius:10px;
  padding:0;
  background-color: var(--ion-color-light)
}
.filter-row {
  width: 12em;
}

ion-fab-list {
  right: 0;
}
ion-fab-list > ion-button{
  width: 12em;
}
.fab-main-button{
  --box-shadow: none;
  --background: rgba(0,0,0,0);
  font-size: 3em;
}
ion-fab {
  top: 0em;
}
.filter-row {
  border-bottom: 2px solid var(--ion-color-primary)
}
.col-text {
  font-weight: bold;
  font-size: 0.8em;
}
.filter-section {
  width: 12em;
  float: right;
  z-index: 9999;
  position: absolute;
  right: 2em;
  top: 3.5em;
}
.filter-section > ion-button {
  --border-radius: 10px !important;
}
ion-card-header {
  width: 100%;
  font-size: 0.9em;
  padding: 0.5em 0;
}
ion-list {
  background-color: var(--ion-color-invisible);
}
.show-btn {
  width: 50%;
  float: left;
  --padding-bottom:0;
}
.left {
  border-right: 1px solid var(--ion-color-invisible)
}
.right {
  border-left: 1px solid var(--ion-color-invisible)
}
.entry-text {
  font-weight: bold;
  text-align: center;
  padding: 0.7em;
}
.button-displayed {
  margin-bottom: 2em;
}
ion-footer {
  position: fixed;
  bottom: 0;
}
.show-more-btn {
  padding: 0;
  background-color: var(--ion-color-dark);
  --background: var(--ion-color-dark);
  --box-shadow: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.slide-card {
  height: 10em;
  width: 10em;
}
.poster {
  height: 4em;
  object-fit: cover;
}
.title {
  margin: 0;
  font-weight: bold;
}
.favourite {
  //position: absolute;
  font-size: 25px;
  //bottom: 2px;
  //left: 2px;
  color: var(--ion-color-danger)
}
.vote {
  //position: absolute;
  height: 25px;
  //bottom: 2px;
  //left: 2.2em;
}
.rating {
  //position: absolute;
  font-size: 25px;
  //bottom: 5px;
  //left: 35%;
}
.active {
  color: var(--ion-color-warning)
}
.inactive {
  color: var(--ion-background-color-dark)
}
.rating-info {
  //position: absolute;
  //bottom: 5px;
  //left: 3.85em;
  font-weight: bold;
  font-size: 0.8em;
  position: absolute;
  left: 1.25em;
  top: 0.95em;
  z-index: 9;
  color: black;
}
.slider-grid {
  padding:0;
  bottom: 0;
  position: absolute;
}
.vote-img {
  padding-top: 7px;
}