<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            History
        </ion-title>
    </ion-toolbar>
    <ion-fab #fab vertical="top" horizontal="end" edge=true>
        <ion-fab-button class="fab-main-button" (click)="openFilter()">
            <ion-icon name="color-filter"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-header>
<div class="filter-section" *ngIf="filter_enabled">
    <ion-button expand="block" (click)="setDate('week')">Last Week</ion-button>
    <ion-button expand="block" (click)="setDate('month')">Last Month</ion-button>
    <ion-button expand="block" (click)="setDate('year')">Last Year</ion-button>

    <ion-grid class="filter-grid">
        <ion-row class="filter-row">
            <ion-col size="4" class="col-text" align-self-center>
                FROM:
            </ion-col>
            <ion-col size="8" align-self-center>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MMMM/YYYY" [min]="min" [max]="max"
                              [value]="to_year_select"
                              [(ngModel)]="to_year_select"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row class="filter-row">
            <ion-col size="4" class="col-text" align-self-center>
                TO:
            </ion-col>
            <ion-col size="8" align-self-center>
                <ion-datetime id="test" displayFormat="DD/MM/YYYY" pickerFormat="DD/MMMM/YYYY" [min]="min" [max]="max"
                              [value]="from_year_select"
                              [(ngModel)]="from_year_select"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="filter-select-button">
                <ion-button expand="block" (click)="setDate('selected')" size="small">Filter!</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-content padding (click)="filter_enabled? openFilter():''">
    <div [class]="!filter_enabled? 'light': 'dark'">
        <ion-card *ngFor="let element of movieHistoryArray; trackBy: trackById" class="outer-class">
            <ion-list #slidingList>
                <ion-item-sliding>
                    <ion-item>
                        <ion-card-header>
                            <ion-card-title
                                    (click)="!filter_enabled?openSelectedHistory(element.timestamp, element.result.result):''">
                                <div class="date">
                                    <ion-icon name="calendar"></ion-icon>
                                    {{element.timestamp| date:'dd. MMMM yyyy'}}
                                </div>
                                <div class="time">
                                    <ion-icon name="time"></ion-icon>
                                    &nbsp;{{element.timestamp| date:'HH:mm:ss'}}
                                </div>
                                <ion-icon
                                        [name]="close_map[element.timestamp] ? 'ios-arrow-down' : 'ios-arrow-up'"></ion-icon>
                            </ion-card-title>
                        </ion-card-header>
                    </ion-item>
                    <ion-item-options>
                        <ion-item-option color="danger" (click)="deleteHistoryEntry(element)">
                            <ion-icon name="trash"></ion-icon>
                            Delete
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-card-content *ngIf="!close_map[element.timestamp]">
                <div class="small-header">Request</div>
                <ion-grid>
                    <ion-row *ngIf="element.request.data.movies.length > 0">
                        <ion-col size="4" class="col-header">Movie:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let movie of element.request.data.movies, let i = index"
                               class="{{movie.alignment}}">{{movie.title}}
                                <a *ngIf="i !== element.request.data.movies.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.actors.length > 0">
                        <ion-col size="4" class="col-header">Actor:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let actor of element.request.data.actors, let i = index"
                               class="{{actor.alignment}}">{{actor.firstname}}&nbsp;{{actor.lastname}}
                                <a *ngIf="i !== element.request.data.actors.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.genres.length > 0">
                        <ion-col size="4" class="col-header">Genre:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let genre of element.request.data.genres, let i = index"
                               class="{{genre.alignment}}">{{genre.name}}
                                <a *ngIf="i !== element.request.data.genres.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.keywords.length > 0">
                        <ion-col size="4" class="col-header">Keyword:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let keyword of element.request.data.keywords, let i = index"
                               class="{{keyword.alignment}}">{{keyword.name}}
                                <a *ngIf="i !== element.request.data.keywords.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="element.request.data.timeperiod.length > 0">
                        <ion-col size="4" class="col-header">Year:</ion-col>
                        <ion-col size="8">
                            <a *ngFor="let year of element.request.data.timeperiod, let i = index"
                               class="{{year.alignment}}">{{year.from}} - {{year.to}}
                                <a *ngIf="i !== element.request.data.timeperiod.length-1">&nbsp;|&nbsp;</a>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4" class="col-header">Number of Results:</ion-col>
                        <ion-col size="6">
                            {{element.request.length}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
            <ion-card-content class="result-content" *ngIf="!close_map[element.timestamp]">
                <div class="small-header">Recommendation</div>
                <ion-slides id="slides" pager="false" [options]="slideOpts">
                    <ion-slide *ngFor="let elem of element.result.result">
                        <ion-card class="inner-card">
                            <ion-card-content>
                                <ion-avatar>
                                    <img src="{{elem.image}}">
                                </ion-avatar>
                                <div class="title">{{elem.title}} ({{elem.year}})</div>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-card-content>
            <ion-card-content *ngIf="!close_map[element.timestamp]">
                <div>
                <ion-button expand="full" class="show-btn left"  (click)="repeatRequest(element.request)">Show <br> Request</ion-button>
                <ion-button expand="full" class="show-btn right" (click)="showRecommendation(element.result)" [disabled]="element.result.result.length == 0">Show <br> Recommendation</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
        <div [class]="!disableShowMore?'entry-text button-displayed':'entry-text'">Displayed entries: {{show_entries_size}} of  {{total_history_entries}}</div>
    </div>
    <ion-footer>
        <ion-button *ngIf="!disableShowMore" [disabled]="filter_enabled" expand="full" (click)="showMore()" class="show-more-btn">Show More</ion-button>
    </ion-footer>
</ion-content>

