.positive-entity {
  width: 0.3em;
  background-color: var(--ion-color-positive);
  height: 100%;
  border-radius: 0.5em 0em 0em 0.5em;
  float: left;
}
.negative-entity1 {
    background: linear-gradient(to right, var(--ion-color-negative) 2% ,var(--ion-color-card-content-bg) 2%);
}
.positive-entity1 {
  background: linear-gradient(to right, var(--ion-color-positive) 2% ,var(--ion-color-card-content-bg) 2%);
}
.negative-entity {
  width: 0.3em;
  background-color: var(--ion-color-negative);
  height: 100%;
  border-radius: 0.5em 0em 0em 0.5em;
  float: left;
}
.card-maxmin-entries {
  float: right;
}

.content-min-view {
  visibility: hidden;
  display: none;
}
.content-max-view {
  visibility: visible;
}

.card-header {
  margin-left: 0.8em;
}

.sc-ion-searchbar-md{
  background-color: red !important;
}
ion-card-title {
  color: var(--ion-color-primary-contrast);
}

ion-card-header {
  padding: 0.75em 1em 0.2em 1em !important;
  background-color: var(--ion-color-card-header-bg)
}

ion-card-content {
  padding: 0 0 1em 0em;
  background-color:var(--ion-color-card-content-bg);
}

ion-list-header {
  padding-left: 1em;
  padding-top: 0.2em;
  min-height: 0;
  margin: 0;
  background-color: var(--ion-color-card-content-bg);
}

ion-item {
  background-color: var(--ion-color-card-content-bg);
}

ion-range > ion-label {
  flex: 0.15;
}
ion-toggle {
  float: right;
}

ion-card {
  border-radius: 1em;
}
ion-avatar {
  --border-radius: 0;
}
img {
  float:left;
  width: 85%;
  border-radius: 0em 0.3em 0.3em 0em;
}

.information-icon{
  vertical-align: middle;
  float: left;
  margin-top: 2px;
}
.information-text {
  float: left;
  margin-left: 5px;
}
.information-div {
  height: 20px;
  width: 100%;
  background-color: lightgray;
}