<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Movies
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar animated class="searchbar" color="light" (click)="moveToFirst()"></ion-searchbar>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Movies
                <ion-icon [name]="icon_maxmin_visible.movie ? 'ios-arrow-up' : 'ios-arrow-down'"
                          class="card-maxmin-entries" (click)="minmaxCardContent('movie')"></ion-icon>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content id="card_movie_min_view" class="content-min-view">
            <ion-grid>
                <ion-row>
                    <ion-col class="positive-entity">
                        Positive: {{search_data.movie_pos.data.length}}
                    </ion-col>
                    <ion-col class="negative-entity">
                        Negative: {{search_data.movie_neg.data.length}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

        <ion-card-content id="card_movie_max_view">
            <ion-list #slidingList>
                <!--<ion-list-header class="positive-entity" *ngIf="search_data.movie_pos.data.length > 0">-->
                    <!--Positive-->
                <!--</ion-list-header>-->

                    <ion-item-sliding *ngFor="let pos_entry of search_data.movie_pos.data">
                        <ion-item>

                            <ion-avatar slot="start">
                                <div class="positive-entity"> </div>
                                <img src="assets/image/{{pos_entry.img}}">
                            </ion-avatar>
                            <ion-label>{{pos_entry.name}}</ion-label>

                        </ion-item>

                        <ion-item-options>
                            <button ion-button color="secondary" (click)="changeToPosOrNeg(pos_entry, true, 'movie')">
                                <ion-icon name="md-swap"></ion-icon>
                                Negative
                            </button>
                            <button ion-button color="danger" (click)="deleteEntry(pos_entry, 'movie_pos')">
                                <ion-icon name="trash"></ion-icon>
                                Delete
                            </button>
                        </ion-item-options>
                    </ion-item-sliding>

                <ion-item-sliding *ngFor="let neg_entry of search_data.movie_neg.data">
                    <ion-item>
                        <ion-avatar slot="start">
                            <div class="negative-entity"> </div>
                            <img src="assets/image/{{neg_entry.img}}">
                        </ion-avatar>
                        <ion-label>{{neg_entry.name}}</ion-label>
                    </ion-item>
                    <ion-item-options>
                        <button ion-button color="secondary" (click)="changeToPosOrNeg(neg_entry, false, 'movie')">
                            <ion-icon name="md-swap"></ion-icon>
                            Positive
                        </button>
                        <button ion-button color="danger" (click)="deleteEntry(neg_entry, 'movie_neg')">
                            <ion-icon name="trash"></ion-icon>
                            Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Year
                <ion-icon [name]="icon_maxmin_visible.year ? 'ios-arrow-up' : 'ios-arrow-down'"
                          class="card-maxmin-entries" (click)="minmaxCardContent('year')"></ion-icon>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content id="card_year_min_view" class="content-min-view">
        </ion-card-content>
        <ion-card-content id="card_year_max_view" class="content-max-view">
            <div class="information-div">
                <ion-icon name="md-information-circle" class="information-icon"></ion-icon>
                <p class="information-text">Swipe to activate</p>
           </div>
            <!--<ion-item class="negative-entity1">-->
                <!--<ion-range color="success" min="1950" max="2030" snaps="true"  dualKnobs="true" [(ngModel)]="year_pos" (ionChange)="test(year_pos)" [disabled]=!movie_pos_year_enabled>-->
                    <!--<ion-label slot="start">{{year_pos.lower}}</ion-label>-->
                    <!--<ion-label slot="end">{{year_pos.upper}}</ion-label>-->
                <!--</ion-range>-->
            <!--</ion-item>-->
            <!--<ion-item class="negative-entity1">-->

                <!--<ion-range color="danger" min="1950" max="2030" snaps="true"  dualKnobs="true" [(ngModel)]="year_neg" (ionChange)="test(year_neg)" [disabled]=!movie_neg_year_enabled>-->
                    <!--<ion-label slot="start">{{year_neg.lower}}</ion-label>-->
                    <!--<ion-label slot="end">{{year_neg.upper}}</ion-label>-->
                <!--</ion-range>-->
            <!--</ion-item>-->
            <ion-item-sliding #movie_year_pos>
                <ion-item class="positive-entity1">
                    <ion-range color="success" min="1950" max="2030" snaps="true"  dualKnobs="true" [(ngModel)]="year_pos" (ionChange)="test(year_pos)" [disabled]=!movie_year_enabled.positive>
                        <ion-label slot="start">{{year_pos.lower}}</ion-label>
                         <ion-label slot="end">{{year_pos.upper}}</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item-options>
                    <button class="slide-button-range" *ngIf="!movie_year_enabled.positive" ion-button color="secondary" (click)="negateValue('positive', movie_year_pos)">
                        <ion-icon name="md-swap"></ion-icon>
                        Activate
                    </button>
                    <button class="slide-button-range" *ngIf="movie_year_enabled.positive" ion-button color="primary" (click)="negateValue('positive', movie_year_pos)">
                        <ion-icon name="md-swap"></ion-icon>
                        Deactivate
                    </button>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item-sliding #movie_year_neg>
                <ion-item class="negative-entity1">
                    <ion-range color="danger" min="1950" max="2030" snaps="true"  dualKnobs="true" [(ngModel)]="year_neg" (ionChange)="test(year_neg)" [disabled]=!movie_year_enabled.negative>
                        <ion-label slot="start">{{year_neg.lower}}</ion-label>
                        <ion-label slot="end">{{year_neg.upper}}</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item-options>
                    <button class="slide-button-range" *ngIf="!movie_year_enabled.negative" ion-button color="secondary" (click)="negateValue('negative', movie_year_neg)">
                        <ion-icon name="md-swap"></ion-icon>
                        Activate
                    </button>
                    <button class="slide-button-range" *ngIf="movie_year_enabled.negative" ion-button color="primary" (click)="negateValue('negative', movie_year_neg)">
                        <ion-icon name="md-swap"></ion-icon>
                        Deactivate
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card-content>
    </ion-card>

</ion-content>
