ion-content {
  // background: linear-gradient(-120deg, var(--ion-background-color-light), var(--ion-background-color-dark));
  background-image: url("../../assets/image/background.png");
  background-size: cover;
}

.negative-entity-year {
  background: linear-gradient(to right, var(--ion-color-negative) 2%, var(--ion-color-primary-contrast) 2%);
}

.positive-entity-year {
  background: linear-gradient(to right, var(--ion-color-positive) 2%, var(--ion-color-primary-contrast) 2%);
}

.entity-image {
  width: 0.3em;
  border-radius: 0.5em 0em 0em 0.5em;
  float: left;
}

.positive {
  background-color: var(--ion-color-positive);
}

.negative {
  background-color: var(--ion-color-negative);
}

.movie {
  height: 100%;
}

.alphabet {
  margin-top: 1px;
  height: 93%;
}

.card-maxmin-entries {
  float: right;
}

.content-min-view {
  visibility: hidden;
  display: none;
}

.content-max-view {
  visibility: visible;
}

.card-header {
  margin-left: 0.8em;
}

ion-card {
  margin-left: 0;
  margin-right: 0;
}

ion-card-title {
  color: var(--ion-color-primary-contrast);
  text-shadow: -2px 2px 0px black;
  font-size: 1.7em;
}

ion-card-header {
  padding: 0.75em 1em 0.2em 1em !important;
  background-color: var(--ion-color-primary)
}

ion-card-content {
  padding: 0 0 1em 0em;
  background-color: var(--ion-color-primary-contrast);
}

ion-list-header {
  padding-left: 1em;
  padding-top: 0.2em;
  min-height: 0;
  margin: 0;
  background-color: var(--ion-color-primary-contrast);
}

ion-item {
  background-color: var(--ion-color-primary-contrast);
}

ion-range > ion-label {
  flex: 0.15;
}

ion-toggle {
  float: right;
}

ion-range {
  --knob-size: 2em;
}

ion-card {
  border-radius: 1em;
}

ion-avatar {
  --border-radius: 0;
}

img {
  float: left;
  width: 85%;
  border-radius: 0em 0.3em 0.3em 0em;
}

.year-grid {
  width: 100%;
}

.year-row-range {
  height: 2em;
}

.year-row {
  height: 1.2em;
}

.year-col-enabled {
  color: red;
}

.year-col-disabled {
  color: green;
}

.label-number-results {
  min-width: 9% !important;
  max-width: 0% !important;
  font-size: 1.3em;
}

.button-recommendation {
  padding: 0;
  background-color: var(--ion-color-dark);
  --background: var(--ion-color-dark);
  --box-shadow: 0;
}

.bottom-toolbar {
  background-color: var(--ion-color-dark);
  --background: var(--ion-color-dark);
  margin: 0;
  padding: 0;
}

.information {
  margin-left: 1em;
}

.information-item {
  padding: 0 0 0 0 !important;
}

.chip-positive {
  height: 100%;
  width: 0.6em;
  background-color: var(--ion-color-positive);
  border-radius: 1em 0em 0em 1em;
}

.chip-negative {
  height: 100%;
  width: 0.6em;
  background-color: var(--ion-color-negative);
  border-radius: 1em 0em 0em 1em;
}

ion-label {
  margin-left: 0.3em;
  margin-right: 0;
}

ion-chip {
  margin: 0.5em 0 0 0.5em;
  border-radius: 0.5em 10px 10px 0.5em;
}

.number-of-results {
  --bar-background-active: var(--ion-color-primary);
  --knob-background: var(--ion-color-primary);
}

.search-button {
  --background: var(--ion-color-primary-contrast)
}

ion-fab {
  top: 0em;
}

ion-fab-list > div > ion-button {
  --background: var(--ion-color-dark);
  border-radius: 23px !important;
}

ion-fab-list > ion-fab-button {
  --background: var(--ion-color-primary);
}

ion-fab-button > ion-icon {
  color: var(--ion-color-primary-contrast);
}

.fab-main-button {
  --box-shadow: none;
  --background: rgba(0, 0, 0, 0);
  font-size: 3em;
}

.fab-label {
  position: absolute;
  right: 3.5em;
  margin-top: 0.5em;
  margin-right: 0.6em;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  padding: 0.4em;
  border-radius: 10px;
}
