<ion-header>
    <ion-toolbar>
        <ion-title>
            Detailed Search
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-searchbar #searchbar class="searchbar" color="light" debounce="400" [animated]="true"
                   [(ngModel)]="searchTerm" (keyup)="setFilteredData()"></ion-searchbar>
    <input id="unfocus" type="search" class="unfocus">
    <ion-row>
        <ion-col size="4" [class]="!isNegativeAlignment ? 'toggle-positive' : 'toggle-neutral'" #positive>
            LIKE
        </ion-col>
        <ion-col size="4">
            <ion-toggle [(ngModel)]="isNegativeAlignment"></ion-toggle>
        </ion-col>
        <ion-col size="4" [class]="!isNegativeAlignment ? 'toggle-neutral' : 'toggle-negative'">
            DISLIKE
        </ion-col>
    </ion-row>
    <ion-card *ngIf="searchTerm.length == 0" class="chat-item">
        <ion-card-content>
            <ion-item>
                <ion-icon name="information-circle-outline"></ion-icon>
                <ion-label class="information"> Please enter a search query!</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="searchdata.search_movie.length > 0" class="chat-item">
        <ion-card-header class="movie-header">
            <ion-card-title>Movies</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let entry of searchdata.search_movie; trackBy: trackByMovie"
                          (click)="addToList('movie', entry[0].id)">
                    <!--<ion-checkbox *ngIf="entry[1]" [class]="'movie-checkbox movie-' + entry[0].alignment"-->
                    <!--checked="true"-->
                    <!--[style.backgroundImage]="'url('+ entry[0].image +')'">-->
                    <!--</ion-checkbox>-->
                    <!--<ion-checkbox *ngIf="!entry[1]" [class]="'movie-checkbox movie-' + entry[0].alignment"-->
                    <!--checked="false"-->
                    <!--[style.backgroundImage]="'url('+ entry[0].image +')'">-->
                    <!--</ion-checkbox>-->
                    <!--<ion-label>-->
                    <!--<h2>{{entry[0].title}}</h2>-->
                    <!--<h3>{{entry[0].year}}</h3>-->
                    <!--</ion-label>-->
                    <ion-checkbox *ngIf="entry[1]" [class]="entry[0].alignment" checked="true"></ion-checkbox>
                    <ion-checkbox *ngIf="!entry[1]" [class]="entry[0].alignment" checked="false"></ion-checkbox>
                    <ion-label>
                        <h2>{{entry[0].title}}</h2>
                        <h3>{{entry[0].year}}</h3>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="searchdata.search_actor.length > 0">
        <ion-card-header>
            <ion-card-title>Actors</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let entry of searchdata.search_actor; trackBy: trackByActor"
                          (click)="addToList('actor', entry[0].id)">
                    <ion-checkbox *ngIf="entry[1]" [class]="entry[0].alignment" checked="true"></ion-checkbox>
                    <ion-checkbox *ngIf="!entry[1]" [class]="entry[0].alignment" checked="false"></ion-checkbox>
                    <ion-label>
                        {{entry[0].firstname}} {{entry[0].lastname}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="searchdata.search_genre.length > 0">
        <ion-card-header>
            <ion-card-title>Genre</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let genre of searchdata.search_genre; trackBy: trackByGenre"
                          (click)="addToList('genre', genre[0].id)">
                    <ion-checkbox *ngIf="genre[1]" [class]="genre[0].alignment" checked="true"></ion-checkbox>
                    <ion-checkbox *ngIf="!genre[1]" [class]="genre[0].alignment" checked="false"></ion-checkbox>
                    <ion-label>{{genre[0].name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="searchTerm.length > 0 || keywords.length > 0">
        <ion-card-header>
            <ion-card-title>Keyword</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item #keywordItem *ngIf="keyWordNotInList() && searchTerm.length > 0">
                    <ion-checkbox #keywordCheckbox (click)="addToKeywordList(searchTerm)"></ion-checkbox>
                    {{searchTerm}}
                </ion-item>
                <ion-item *ngFor="let keyword of keywords">
                    <ion-checkbox [class]="keyword.alignment" checked="true"
                                  (click)="deleteKeywordFromList(keyword)"></ion-checkbox>
                    {{keyword.name}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-button slot="start" expand="full" (click)="cancelSearch()" class="btns">Cancel</ion-button>
    <ion-button slot="end" expand="full" (click)="addSearchEntries()" class="btns">Add</ion-button>
</ion-footer>
