<ion-header>
    <ion-toolbar>
        <ion-title>
            Detailed Search
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-searchbar #searchbar animated class="searchbar" color="light"
                   autofocus [(ngModel)]="searchTerm" (keyup)="setFilteredData()"></ion-searchbar>
    <ion-row>
        <ion-col [class]="!isToggled ? 'toggle-positive' : 'toggle-neutral'" #positive size="4">
            POSITIVE
        </ion-col>
        <ion-col size="3">
            <ion-toggle [(ngModel)]="isToggled"></ion-toggle>
        </ion-col>
        <ion-col [class]="!isToggled ? 'toggle-neutral' : 'toggle-negative'" size="4">
            NEGATIVE
        </ion-col>
    </ion-row>

    <ion-card *ngIf="search_data.movie.data.length > 0">
        <ion-card-header class="movie-header">
            <ion-card-title>Movies</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let entry of search_data.movie.data" (click)="selectEntity(entry.id, 'movie')">
                    <ion-checkbox value="entry.selected" class="movie-checkbox movie-positive" [style.backgroundImage]="'url(assets/image/' + entry.img + ')'"></ion-checkbox>
                    <ion-label>
                        <h2>{{entry.name}}</h2>
                        <h3>{{entry.year}}</h3>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="search_data.actor.length > 0">
        <ion-card-header>
            <ion-card-title>Movies</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let entry of search_data.actor.data" (click)="selectEntity(entry.id, 'actor')">
                    <ion-checkbox value="entry.selected" class="movie-checkbox" [style.backgroundImage]="'url(assets/image/' + entry.img + ')'"></ion-checkbox>
                    <ion-label>
                        <h2>{{entry.name}}</h2>
                        <h3>{{entry.year}}</h3>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="filtered_genres.length > 0">
        <ion-card-header>
            <ion-card-title>Genre</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item lines="inset" *ngFor="let entry of filtered_genres" (click)="selectEntity(entry.id, 'genre')">
                    <ion-checkbox value="entry.selected"></ion-checkbox>
                    <ion-label>{{entry.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="searchTerm.length > 0">
        <ion-card-header>
            <ion-card-title>Keyword</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item #keywordItem *ngIf="!keyWordNotInList()">
                    <ion-checkbox  #keywordCheckbox (click)="addToKeywordList(searchTerm)" ></ion-checkbox>
                    {{searchTerm}}
                </ion-item>
                <ion-item *ngFor="let keyword of keywords">
                    <ion-checkbox  [class]="keyword.alignment" checked="true" (click)="deleteKeywordFromList(keyword)"></ion-checkbox>
                    {{keyword.name}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
    <ion-toolbar position="bottom" class="bottom-toolbar">
        <ion-button slot="start" expand="block" (click)="cancelSearch()">Cancel</ion-button>
        <ion-button slot="end" expand="block" (click)="addSearchEntries()">Add</ion-button>
    </ion-toolbar>
