ion-content {
  background-image: url("../../assets/image/background.png");
  background-size: cover;

}
ion-toolbar {
  background-color: var(--ion-color-dark);
  --background: var(--ion-color-dark);
}

.bottom-toolbar{
  background-color: var(--ion-color-dark);
  --background: var(--ion-color-dark);
}

ion-toggle {
  --background-checked: var(--ion-color-negative);
  --background: var(--ion-color-positive);
  --handle-background: var(--ion-color-positive);
  --handle-background-checked: var(--ion-color-negative);
  bottom: 0.5em;
}
ion-row {
  height: 2em;
}
ion-col {
  text-align: center;
  color: lightgray;
  font-weight: bold;
}

ion-card-header {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: var(--ion-color-primary);
}
ion-card-title {
  font-size: 1.2em;
  text-shadow: -1px 1px 0px black;
  color: var(--ion-color-primary-contrast)
}
ion-card-content {
  padding: 0;
  background-color: var(--ion-color-primary-contrast)
}
.information {
  font-weight: bold;
  padding-left: 1em;
}
ion-card {
  border-radius: 0;
  margin: 0;
}
.movie-checkbox {
  display: inline-block;
  border-radius: 10px;
  --background: rgba(0,0,0,0);
  --checkmark-color: black;
  --border-color-checked: black;
  --size: 2.5em;
  background-size: cover;
}
.movie-positive{
  --background-checked: var(--ion-color-positive-low-opacity)
}
.movie-negative {
  --background-checked: var(--ion-color-negative-low-opacity)
}
ion-checkbox {
  margin-right: 20px;
}

ion-button {
  --background: var(--ion-color-dark);
  margin-left: 0.1em;
  margin-right: 0.1em;
  width: 50%;
  --border-radius: 0;
}
.positive {
  --background-checked: var(--ion-color-positive);
  --border-color-checked: var(--ion-color-positive);
  visibility: inherit;
}
.negative {
  --background-checked: var(--ion-color-negative);
  --border-color-checked: var(--ion-color-negative);
  visibility: inherit;
}
.toggle-positive {
  color: var(--ion-color-positive);
  visibility: visible;
}
.toggle-negative {
  color: var(--ion-color-negative);
  visibility: visible;
}
.toggle-neutral{
  color: var(--ion-color-light);
  visibility: visible;
}
.movie-header {
  border-radius: 10px 10px 0px 0px;
}
.bottom-toolbar {
  margin:0;
  padding:0;
  --background: var(--ion-color-dark);
}