<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            My Favourites
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <div *ngIf="fav_movies_arr.length == 0">
    <ion-label class="empty-header">OH NO!</ion-label>
    <ion-label class="empty-header">Your favourite list is empty!</ion-label>
    <ion-card class="empty-body">
        <ion-grid>
            <div>Please follow the steps below to add a movie into your list:</div>
            <ion-row>
                <ion-col size="1">●</ion-col>
                <ion-col size="11">Go on Home-Page and select Movie.</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="1">●</ion-col>
                <ion-col size="11">Insert your search criteria and start recommendation.</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="1">●</ion-col>
                <ion-col size="11">Add movie to <b>My Favourites.</b></ion-col>
            </ion-row>
        </ion-grid>
        <img src="../../assets/image/help/favourite.png">
    </ion-card>
    </div>

    <ion-list #slidingList *ngIf="fav_movies_arr.length > 0">
        <!--<ion-list-header>-->
        <!--<ion-icon name="podium"></ion-icon>-->
        <!--</ion-list-header>-->
        <!--<ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">-->
        <!--<ion-item-sliding *ngFor="let movie of fav_movies | keyvalue; index as i">-->
        <ion-item-sliding *ngFor="let movie of fav_movies_arr">
            <ion-item lines="inset">
                <ion-avatar slot="start">
                    <img src="{{movie.image}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{movie.title}}</h2>
                    <h3>{{movie.year}}</h3>
                </ion-label>
                <!--<ion-reorder>-->
                <!--<ion-icon *ngIf="i<3" name="medal" [class]='"pos" + i'></ion-icon>-->
                <!--</ion-reorder>-->
            </ion-item>
            <!--<ion-item-options side="end" [class]="i == 2? 'divider-option':''">-->
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteMovie(movie)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <!--</ion-reorder-group>-->
    </ion-list>
</ion-content>

<!--<ion-button *ngIf="isSorted" expand="full" class="button-bottom cancel" (click)="cancelSortedList()">Cancel</ion-button>-->
<!--<ion-button *ngIf="isSorted" expand="full" class="button-bottom save" (click)="saveSortedList()">Save Sorted List</ion-button>-->
