ion-toolbar {
  background-color: var(  --ion-toolbar-background-color);
  --background: var(--ion-toolbar-background-color);
  --color: var(--ion-color-primary-contrast);
}
img {
  float:left;
  width: 100%;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}
ion-content {
  background-image: url("../../assets/image/background.png");
  background-size: cover;
}
ion-list {
  background-color: var(--ion-color-primary-contrast-test)
}
