<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-card (click)='goToMovies($event)'>
    <ion-img src="assets/image/img1.jpg" class="card-image"></ion-img>
    <ion-icon name="ios-videocam" class="card-subtitle"></ion-icon>
    <div class="card-title">Movies</div>
  </ion-card>

  <ion-card>
    <ion-img src="assets/image/img2.jpg" class="card-image" ></ion-img>
    <ion-icon name="logo-playstation" class="card-subtitle"></ion-icon>
    <div class="card-title">Video Games</div>
  </ion-card>

  <ion-card>
    <ion-img src="assets/image/img3.jpg" class="card-image" ></ion-img>
    <ion-icon name="md-cube" class="card-subtitle"></ion-icon>
    <div class="card-title">Board Games</div>
  </ion-card>

</ion-content>
