.card-background-page {
  //background: linear-gradient(-120deg, var(--ion-background-color-light), var(--ion-background-color-dark));
  background-image: url("../../assets/image/background.png");
  background-size: cover;

  ion-card {
    position: relative;
    text-align: center;
    height: 30%;
    box-shadow: 0 0 0 2px var(--ion-color-light);
    margin: 0 0 1em;
    background-color: var(--ion-color-primary);
  }
  .card-image {
    opacity: 0.5;
  }
  .card-title {
    position: absolute;
    top: 60%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: var(--ion-color-light);
  }
  .card-subtitle {
    font-size: 6.0em;
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    color: var(--ion-color-light);
  }
}
.coming-soon {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6.5em solid var(--ion-color-dark);
  border-right: 6.5em solid transparent;
  z-index: 999;
}
.info-text {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--ion-color-primary-contrast);
  font-size: 1em;
  position: absolute;
  z-index: 9999;
  transform: rotate(-45deg);
}
.coming-soon-text {
  top: 9%;
  left: 1%;
}
.result-info-finish {
  top: 10%;
  left: -2%;
  font-size: 0.9em;
}
.result-info-waiting{
  font-size: 0.9em;
  top: 10%;
  left: -2%;
}