<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-card (click)='goToMovies($event)' class="movie">
    <div class="coming-soon" *ngIf="helperService.waiting_for_movie_result || helperService.result_calculation_finished"></div>
    <div class="info-text result-info-finish" *ngIf="helperService.result_calculation_finished">Result<br>Available!</div>
    <div class="info-text result-info-waiting" *ngIf="helperService.waiting_for_movie_result">Waiting <br> for result!</div>
    <ion-img src="assets/image/movie.jpg" class="card-image"></ion-img>
    <ion-icon name="ios-videocam" class="card-subtitle"></ion-icon>
    <div class="card-title">Movies</div>
  </ion-card>

  <ion-card class="video-games">
    <div class="coming-soon"></div>
    <div class="info-text coming-soon-text">Coming<br>Soon!</div>
    <ion-img src="assets/image/video_games.jpg" class="card-image" ></ion-img>
    <ion-icon name="easel" class="card-subtitle"></ion-icon>
    <div class="card-title">Video Games</div>
  </ion-card>

  <ion-card class="animated infinite bounce delay-2s">
    <div class="coming-soon"></div>
    <div class="info-text coming-soon-text">Coming<br>Soon!</div>
    <ion-img src="assets/image/board_games.jpg" class="card-image" ></ion-img>
    <ion-icon name="people" class="card-subtitle"></ion-icon>
    <div class="card-title">Board Games</div>
  </ion-card>
  <div id="refresh_page"></div>
</ion-content>
